@page
@model Libro_Book_Store.Pages.Admin.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Create New Book Entry</h1>

<h2>Book Enty Form</h2>

<form method="post" id="CreateForm">
    <div class="division">
        Title: <input asp-for="Book.Title" id="title"/>
    </div>
    <div class="division">
        Author: <input asp-for="Book.Author" id="author"/>
    </div>
    <div class="division">
        Price: <input asp-for="Book.Price" id="price"/>
    </div>
    <div class="division">
        Description: <input asp-for="Book.Description" id="description"/>
    </div>
    <input type="submit" />
</form>