.button {
    height: 25px;
    width: 300px;
    background-color: darkgray;
    text-decoration:none;
    outline-color:black;
    display:inline-block;
    text-align:center;
    padding-top: 5px;
}

bottom-spacing{
    margin-bottom: 500px;

}

top-spacing{
    margin-top: 400px;
}