<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/CSS/LibroStylesheet.css">
    <link rel="stylesheet" href="~/CSS/Site.css">
    <script src=~/JS/LibroJS.js></script>
</head>
<body class="container bottom spacing">
    <div class="navbar">
        <a asp-page="/Index">Home</a>
        <a asp-page="/Shop">Shop</a>
        <a asp-page="/Checkout">Checkout</a>
        <a asp-page="/Contact">Contact Us</a>
    </div>


    <div>
        @RenderBody()
    </div>
</body>



</html>
<footer>
    <div class="left-justify"></div>
    <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
    <div class="container">
        <div class="login-button">

            <a asp-page="/Admin/Create">Admin</a>
        </div>
    </div>


</footer>





