@page
@model Libro_Book_Store.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/_Layout.cshtml";
}


<header class="text-center bottom-spacing">
    <h1>Contact Us</h1>
</header>

<div class="form bottom-spacing">
    <form id="ContactForm">
        <div class="division">
            <label for="name">Name</label><br />
            <input type="text" id="name" required /><br />
        </div>

        <div class="division">
            <label for="email">Email</label><br />
            <input type="email" id="email" required /><br />
        </div>

        <div class="division">
            <label for="phone">Phone Number</label><br />
            <input type="tel" id="phone" /><br />
        </div>

        <div class="division">
            <label for="reason">Reason for Contact</label><br />
            <input type="text" id="reason" required /><br />
        </div>
        <input type="submit" value="Submit" />
    </form>

</div>
<div>
    <h2>Email: LiBroBooks@gmail.com<br />Instagram: LiBroBooksOfficial<br />Facebook: LiBroBooks<br />LiBro Books UK: +44 4351 674839<br /> LiBro Books US: +1(512)647-8943</h2>
</div>