@page
@model Libro_Book_Store.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}


<header class="text-center">
    <h1>Libro books</h1>
</header>


<body>

    <h2 class="text-center title">
        Find Your Favorite Books For A Good Price!
    </h2>

    <div>
        <img src="/Images/Logo.png" alt="LiBro Logo"/>
    </div>

    <div class="button top-spacing">
            <a href="../Pages/Shop.cshtml">Search our selection of books today!</a>
    </div>


    <div class="text center top-spacing">
        <h2>
            If You have any suggestions for new books to add,
            please make them on our contact page!
        </h2>
    </div>
    





</body>