@page
@model Libro_Book_Store.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Pages/_Layout.cshtml";
}

<header>
    <div class="text-center ">
        <h1>Books</h1>
        <h2>Search our selection of books with something for everyone!</h2>
    </div>
</header>